.modal-wrapper {
  box-sizing: border-box;
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", Gotham, "Helvetica Neue", Helvetica, Arial,
    "sans-serif";
}

.modal {
  background: #fff;
  max-width: calc(100vw - 24px);
  width: 600px;
  position: relative;
  overflow: hidden;

  &_hidden {
    display: none;
  }

  &__content {
    padding: 20px 20px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    height: auto;
    width: 120px;
    margin: 10px 0 10px;
  }

  &__heading {
    font-size: 24px;
    line-height: 36px;
    margin: 6px 0 16px;
    font-weight: 600;
  }

  &__text {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #000;

    &_link {
      color: #000;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 24px;
  }

  &__btn {
    display: inline-block;
    padding: 14px 24px;
    text-align: center;
    border-radius: 24px;
    transition: 300ms all ease;
    background: #000;
    color: #fff;
    min-width: 75px;
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
  }
}

.modal-settings {
  display: none;
  height: calc(100vh - 80px);
  background: #fff;
  max-width: calc(100vw - 24px);
  width: 600px;
  position: relative;
  overflow: hidden;

  &_visible {
    display: block;
  }

  &__heading {
    padding: 0 40px 0 20px;
    line-height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__h3 {
    line-height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__heading-wrapper {
    padding-top: 5px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  &__content {
    padding: 20px;
    height: calc(100vh - 230px);
    background: #f5f5f5;
    overflow: scroll;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }

  &__text {
    margin: 0;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 300;
  }

  &__list {
    padding-left: 24px;
    font-size: 14px;
    font-weight: 300;
  }

  li {
    margin-bottom: 5px;
  }

  &__navigation {
    display: flex;
    justify-content: flex-end;
    padding: 11px 11px 11px 20px
  }
}

.header-input-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__label {
    font-size: 16px;
    font-weight: 300;
    margin-right: 5px;
  }
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 32px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 2px;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #f5f5f5;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  .slider.round:before {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    background: #999 url(../img/icons.svg) no-repeat 0.5px -23px;
  }
  

  input:checked + .slider.round:before {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: black;
    font-size: 16px;
    border-radius: 50%;
    background: #000 url(../img/icons.svg) no-repeat 0.5px 0;
  }
  